.header-fixed {
 /* / position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 102; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #006778 !important;
  cursor: auto; }

.nav-item-space.active {
  color: #006778 !important; }

.logout-btn {
  color: white !important;
  font-family: HelveticaNeue-Bold;
  padding-left: 45px;
  font-size: 12px; }

button:focus {
  border: none;
  outline: none; }

.menu-bar li:last-child .tool-tip .tooltiptext {
  transform: translateX(-100%);
  position: relative;
  left: 140px;
  top: 0px; }

.header-container {
  width: 100%;
  background-color: #022737; }
  .header-container .ant-select {
    width: auto !important; }

.main-max-width-container {
  padding: 10px 20px;
  max-width: 1198px;
  margin: auto;
  display: block; }

.HeaderPosition {
  margin-left: auto !important; }

.navbar-toggler {
  margin-top: 0 !important; }

.nav-link {
  font-size: 10px;
  letter-spacing: 1px; }

.nav-item-space {
  padding-right: 36px; }

.rightSideContainer > div {
  display: inline-block;
  vertical-align: middle; }

.leftSideContainer > div {
  display: inline-block; }

.header-container .main-max-width-container .headerFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch; }

.header-container .leftSideContainer div a {
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #ffffff !important;
  display: inline-block; }

.header-container .leftSideContainer div a:last-child {
  padding-right: 45px; }

.rightSideContainer .ant-select-selection__rendered {
  font-family: HelveticaNeue;
  font-size: 10.4px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  padding-top: 2px; }



.rightSideContainer .btn.btn-secondary {
  padding: 0; }


.menu-bar .hide-desktop {
  display: none; }

.menu-bar .navbar {
  padding: 0; }

.menu-bar .navbar-brand img {
  width: 150px;
  height: 60px; }

.menu-bar .left {
  float: left; }

.menu-bar .right {
  float: right; }

.nav-item a {
  font-family: HelveticaNeue-CondensedBold;
  font-size: 14px;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #022737 !important; }


.menu-bar {
  width: 100%;
  border-bottom: 1px solid #b6bdbd; }

.HeaderPosition li {
  text-transform: uppercase;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #022737; }

@media only screen and (max-width: 991px) {
  .menu-bar .navbar-brand img {
    width: 120px;
    height: 48px; }
  .menu-bar .hide-desktop {
    display: inline-block; }
  .navbar-collapse {
    margin-top: 10px !important;
    border-top: 1px solid #b6bdbd !important; }
  .nav-item-space {
    padding-right: 0 !important; } }

@media only screen and (max-width: 375px) {
  .overlay-positon.overlay-background .slick-dots {
    bottom: 0; }
  .skip-overlay-container {
    margin-top: 5px; } }

@media only screen and (max-width: 991px) {
  .ant-select-selection--single {
    width: 200px; }
  .pending-alert-container .ant-card-body {
    padding: 15px 15px; }
  .HeaderPosition {
    height: 100vh;
    overflow: auto;
    margin-left: auto !important;
    padding: 17px 0px 39px 0px; }
  .messages button.btn.btn-secondary {
    margin-right: 3px !important; }
  .logout-btn {
    padding-left: 3px !important; }
  .navbar-nav .nav-item:hover {
    background-color: rgba(11, 178, 167, 0.1) !important; }
  .nav-item a {
    font-family: HelveticaNeue-Bold;
    font-size: 12px;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #022737 !important;
    padding: 12px 0px;
    border-bottom: 1px solid #d9d9d9; }
  .header-container .main-max-width-container .headerFlex {
    display: block; }
  .leftSideContainer {
    display: none; }
  .rightSideContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .menu-bar {
    width: 100%;
    border-bottom: 1px solid #b6bdbd; }
    .menu-bar .main-max-width-container {
      padding: 10px 0px; }
    .menu-bar .navbar-brand {
      padding-left: 20px; }
    .menu-bar .navbar-toggler {
      margin-right: 20px; }
  .navbar-nav .nav-link {
    padding-right: 0;
    margin-left: 20px; }
  .navbar-nav .nav-item:hover {
    background-color: #f2f2f2; } }

    /* tooltip css */
.tool-tip {
  position: relative;
  outline: none; }

.tool-tip:hover .tooltiptext,
.tool-tip:hover .tooltiptext-i {
  visibility: visible;
  top: 20px;
  left: 0px; }

  .tooltiptext {
    visibility: hidden;
    font-family: HelveticaNeue;
    text-transform: capitalize;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 140px;
    height: 40px;
    background-color: #747274;
    padding-top: 4px;
    color: #fff;
    border-radius: 3px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1; }
