.marketingFeature .carousel-caption{
    bottom: 100px;
}
.marketingFeature .carousel-item {
background-color: cornflowerblue;
opacity: 0.6;
}
.marketingFeature img{
    opacity: 0;
    width: 100%;
    height: 300px;
}
.marketingFeature.carousel{
    width: 100%;
    height: auto;
    margin: 40px 15px;

}
.marketingFeature .carousel-inner{
    border-radius: 10px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.06);
}
